.container {
  max-width: 850px;
  padding-top: 30px;
}

.list__group {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.list__card {
  cursor: pointer;
  position: relative;
  display: block;
  height: 186px;
  flex: 0 0 25%;
  max-width: 23.6%;
  margin-right: 15px;
  margin-bottom: 15px;
  color: transparent;
  font-size: 0;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(233, 175, 109, 0.87);
  box-shadow: 0px 5px 15px rgba(87, 85, 85, 0.521);
  background-image: url(../front.jfif);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.list__card:nth-child(4n){
  margin-right: 0;
}

.list__card:nth-child(4n){
  margin-right: 0;
}

.list__card:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.list__card.open {
  font-size: 70px;
  color: black;
  background-image: none;
}

.list__card.success {
  font-size: 70px;
  color: black;
  background-color: rgba(131, 45, 212, 0.603);
  background-image: none;
}


.game__btn {
  position: relative;
  left: 37%;
  padding: 24px 75.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background-color: #ff2a8dd5;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: background-color 0.5s ease-in-out;
}

.game__btn:focus {
  border: none;
  outline: none;
  background-color: #2aaaff;
}

.game__btn:hover {
  border: none;
  outline: none;
  background-color: #2a6eff;
}

.game__btn:active {
  border: none;
  outline: none;
  background-color: #3f2affa9;
}
